@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
}

ul,li,ol{
	list-style: none;
}

a{
	color: inherit;
	text-decoration: none;
}

html,body{
	height: 100%;
}

i{
	display: inline-block;
}

img{
	max-width: 100%;
}

body.modal-open {
    position: fixed;
    width: 100%;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both
}

.animated.infinite {
    animation-iteration-count: infinite
}
@keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scale3d(1.05,1.05,1.05)
    }

    to {
        transform: scaleX(1)
    }
}
.pulse {
    animation-name: pulse
}

.hide{
	display: none;
}
/* first page - Index */
.index.content{
	width: 100%;
	height: 100%;
	background: url(./../image/index/bg.jpg) no-repeat center bottom;
	background-size: cover;
}

.index .top .logo{
	width: 7.1rem;
	height: 3.8rem;
	background: url(./../image/index/logo.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: 0.6rem;
	left: 1.15rem;
}

.index .txtimg{
	width: 8.5rem;
	height: 3.5rem;
	background: url(./../image/index/tittxt.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: 4rem;
	left: 1.1rem;
}

.index .main .btn_signup{
	display: block;
    width: 3.2rem;
    height: 1.3rem;
    background: url(./../image/index/btnbm.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    top: 8.2rem;
    left: 3.4rem;
}

.index .main .btn_signup:active{
	opacity: 0.95;
}

.index .buttom{
	position: absolute;
	bottom: 0;
	width: 100%;
}

.index .buttom .bg{
	bottom: 0;
	width: 100%;
	height: 5rem;
	background: url(./../image/index/bg_btm.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	z-index: 2;	
}

.index .buttom p{
	text-align: center;
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	padding: 0 2% 0.3rem 2%;
	position: relative;
	z-index: 8;
}

/* signup page - Signup */
.signup.content{
    position: relative;	
	width: 100%;
	min-height: 100%;
	background: url(./../image/signup/cbg.jpg) no-repeat center bottom;
	background-size: cover;
}

.signup .headtop{
	display: block;
	background: url(./../image/toptxt.png) no-repeat center;
	background-size: 100% auto;
	width: 8.5rem;
	height: 2.9rem;
	margin-bottom: 0.3rem;
}

.signup .top .logo{
	width: 7.1rem;
	height: 3.8rem;
	background: url(./../image/signup/logo.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: 0.6rem;
	left: 1.35rem;
}

.signup .txtimg{
	width: 8.5rem;
	height: 3.5rem;
	background: url(./../image/signup/tittxt.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	top: 4rem;
	left: 1.1rem;
}

.signup .wrap{
	position: relative;
	width: 8.5rem;
	height: 100%;
	margin: 0 auto;
	padding-top: 0.6rem;
	padding-bottom: 5.2rem;
	padding-left: 0.3rem;
}

.signup .signupform{
	padding-top: 7.5rem;
}

.signup .signupform .row{
	position: relative;
	padding-bottom: 0.25rem;
	vertical-align: middle;
}

.signup input,.signup textarea,.signup .signupform .plain{
	font-size: 14px;
	padding-left: 5px;
	border: none;
	height: 0.75rem;
	border-radius: 6px;
	border: 1px solid #254d98;
	background: #fff;
	box-shadow: 2px 2px 2px -2px #757575 inset;
	vertical-align: middle;
}
.signup .signupform input.image-file {
	position: absolute;
    right: 9px;
    top: 1px;
    width: 5.8rem;
    height: 0.7rem;	
    opacity: 0;
}
.signup .signupform input.video-file {
	position: absolute;
    right: 9px;
    top: 1px;
    width: 5.8rem;
    height: 0.7rem;
    opacity: 0;
}

.signup .signupform .plain{
	display: inline-block;
	line-height: 0.7rem;
	font-size: 6px;
	width: 4.5rem;
	color: #9fa0a0;
	white-space:nowrap; 
	overflow-y: auto;
	vertical-align: bottom;	
}

.signup .signupform label{
	color: #083190;
	font-size: 0.4rem;
	padding-right: 0.35rem;
	font-weight: 600;
	vertical-align: middle;
}

.signup .signupform span{
	color: #0755a0;
	font-weight: 600;
	font-size: 0.4rem;
}

.signup .signupform .inp_name{
	width: 5.8rem;
}

.signup .signupform .inp_phone{
	width: 5.8rem;
}

.signup .signupform .inp_year{
	width: 1.6rem;
	margin-right: .2rem;
}

.signup .signupform .inp_month{
	width: 1.1rem;
	margin-left: .2rem;
	margin-right: .2rem;
}

.signup .signupform .inp_day{
	width: 1.1rem;
	margin-right: .2rem;
}

.signup .signupform .inp_speciality{
	vertical-align: top;
	resize:none;
	width: 5.8rem;
	height: 2.1rem;
	padding: 5px;
}

.signup .signupform .inp_family{
	width: 5.8rem;
}

.signup .sexbox{
	margin-right: 1.4rem;
}

.signup .sexbox.checked i{
	background: url(./../image/signup/check_sex_ed.png) no-repeat;
	background-size: contain;
}

.signup .sex_check{
	display: inline-block;
	width: 27px;
	height: 28px;
	vertical-align: middle;
	background: url(./../image/signup/check_sex_none.png) no-repeat;
	background-size: contain;
}
.signup .btn_signup{
	display: block;
	width: 3.4rem;
	height: 1.3rem;
	line-height: 1rem;
	background: url(./../image/signup/btn_bg2.png) no-repeat;
	background-size: 100% auto;
	text-align: center;
	color: #fff;
	font-size: 15px;
	margin: 0.5rem auto 0.3rem;
	text-indent: -999rem;
}
.signup .btn_upload{
	display: inline-block;
	background: url(./../image/signup/btn_bg.png) no-repeat;
	background-size: 100% 100%;
	width: 5.8rem;
	height: 0.7rem;
	line-height: .6rem;	
	text-align: center;
	color: #fff;
	font-size: 12px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	vertical-align: middle;
}
.signup .statement{
	color: #083190;
	text-align: center;
	margin-top: 0.5rem;
}

.signup .row .tip{
	font-size: 8px;
	padding-left: 2.1rem;
	color: #083190;
}

.signup .statement p{
	display: inline-block;
	vertical-align: middle;
	text-decoration: underline;
}
.signup .statement i{
	width: 14px;
	height: 15px;
	vertical-align: middle;
	margin-right: 0.1rem;
	display: inline-block;
	background: url(./../image/signup/check_box_ed.png) no-repeat;
	background-size: contain;
}
.signup .statement.none i{
	background: url(./../image/signup/check_box_none.png) no-repeat;
	background-size: contain;
}

.protocol{
	position: fixed;
	top: 5%;
	width: 90%;
	height: 85%;
	box-sizing: border-box;
	left: 50%;
	transform: translate(-50%, 0);
	display: none;
    z-index: 9999;	
    background: rgba(255,255,255,.95);
}

.protocol .status{
	position: relative;
	padding: 0 25px 0 20px;
	margin-top: 40px;
	height: 87%;
	overflow-x: hidden;
	overflow-y: scroll;
}

.protocol .figure{
	position: relative;
	margin-bottom: 20px;

}

.protocol .figure:after{
	content: "";
    position: absolute;
    border: 1px solid #0755a0;
    top: 0.5rem;
    left: -11px;
    width: 105%;
    height: 94%;
    border-radius: 2px;
    
}

.protocol .close{
	background: url(./../image/signup/close_dialog.png) no-repeat;
	background-size: 100% auto;
	width: 14px;
	height: 14px;
	position: absolute;
	right: 0.4rem;
    top: 0.5rem;
	z-index: 99;
}

.protocol h4{
	font-size: 14px;
	color: #083190;
	padding-bottom: 15px;
}

.protocol .figure h6{
	font-weight: 600;
	color: #083190;
	font-size: 14px;
	padding-bottom:0.45rem;
	padding-top: 0.119rem;
	text-align: center;
	background: url(./../image/signup/xztitbg.png) no-repeat center 0px;
    background-size: 120px 30px;
    position: relative;
    z-index: 99;
}

.protocol .figure p,.protocol .figure li{
	color: #083190;
	font-size: 13px;
	padding-bottom: 15px;
}

/* final page - Result */
.final.content{
	width: 100%;
	height: 100%;
	background: url(./../image/final/nbg.jpg) no-repeat center bottom;
	background-size: cover;
}

.final .wrap{
	position: relative;
	width: 9rem;
	height: 100%;
	margin: 0 auto;
	padding-top: 0.5rem;
}

.final .topimg{
	width: 7.1rem;
    height: 3.3rem;
	margin: 0 auto;
	background: url(./../image/final/logo.png) no-repeat center center;
	background-size: 100% 100%;	
	margin: -0.2rem 0 0 1rem;
}

.final .result{
	color: #083190;
	text-align: center;
	margin-top: -0.2rem;
	/*padding-top: 0.2rem;*/
	/*padding-top: 0.1rem;*/
}

.final .result h6{
	font-size: 15px;
	font-weight: 500;
	padding-top: .3rem;
}

.final .result p{
	font-size: 15px;
	padding-top: 0.1rem;
	font-weight: 600;
}

.final .wall{
	width: 3.2rem;
	height: 3.7rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	/*background: url(./../image/final/posterwallbg.png) no-repeat;*/
	background-size: 100% auto;
}

.final .wall img{
	width: 100%;
	height: 100%;
	/*padding: 0.29rem 0.21rem 0.42rem 0.25rem;*/
}

.final .dec{
	color: #083190;
	font-size: 12px;
	text-align: center;
	line-height: 16px;
	padding-top: 0.15rem;
}

.final .btns{
	margin-top: 3%;
}

.final .btn_share{
	background: url(./../image/final/sharebtn.png) no-repeat center center;
	background-size: 100% auto;	
	display: block;
	width: 3rem;
	height: 1rem;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	text-align: center;
	color: #fff;
	font-size: 0.36rem;
}

.final .btm{
	width: 9rem;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}

.final .i_brand{
	display: block;
	z-index: 99;
	width: 2.2rem;
	height: 2.1rem;
	background: url(./../image/brand_zyyy.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	bottom: 0.2rem;
	left: 0.8rem;
}

.final .i_nutrilon{
	display: block;
	z-index: 99;
	width: 1.75rem;
	height: 2.7rem;
	background: url(./../image/nutrilon.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	bottom: 0.3rem;
	right: 0.8rem;
}

.layer{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.85);
	z-index: 9999;
	display: none;
}

.layer .box{

}

.layer .box i{
	background: url(./../image/final/layer_fly.png) no-repeat center center;
	width: 6rem;
	height: 6rem;
	background-size: contain;
	position: absolute;
	z-index: 10000;
	top: 1rem;
	right: 1rem;
}

.layer .box .txt{
	position: absolute;
	z-index: 10000;
	top: 7.5rem;
	right: 0rem;
	color: #fff;
	font-size: 0.8rem;
	text-align: center;
	width: 100%;
}

/* share page - Share */
.share.content{
	width: 100%;
	height: 100%;
	background: url(./../image/final/nbg.jpg) no-repeat center bottom;
	background-size: cover;
}

.share .wrap{
	position: relative;
	width: 9rem;
	height: 100%;
	margin: 0 auto;
	padding-top: 0.7rem;
}

.share .topimg{
	width: 7.1rem;
    height: 3.3rem;
    margin: 0 auto;
    background: url(./../image/final/logo.png) no-repeat center center;
    background-size: 100% 100%;
    margin: -0.2rem 0 0 1rem;
}

.share .result{
	color: #083190;
	text-align: center;
	margin-top: 0.05rem;
	/*padding-top: 0.2rem;*/
	/*padding-top: 0.1rem;*/
}

.share .result h6{
	font-size: 0.45rem;
	font-weight: 500;
	padding-top: .3rem;
}

.share .result p{
	font-size: 0.4rem;
}

.share .wall{
	width: 4rem;
	height: 4.7rem;
	margin: 0 auto;
	margin-top: 0.2rem;
	/*background: url(./../image/final/posterwallbg.png) no-repeat;*/
	background-size: 100% auto;
}

.share .wall img{
	width: 100%;
	height: 100%;
	/*padding: 0.29rem 0.21rem 0.38rem 0.28rem;*/
}

.share .dec{
	color: #083190;
	font-size: 0.36rem;
	text-align: center;
	line-height: 16px;
}

.share .btns{
	margin-top: 1.5%;
}

.share .btn_share{
	background: url(./../image/share_after_btn.png) no-repeat center center;
	background-size: 100% auto;	
	display: block;
	width: 3rem;
	height: 1rem;
	margin: 0 auto;
	position: relative;
	z-index: 999;
	text-align: center;
	color: #fff;
	font-size: 0.36rem;
}

.share .btm{
	width: 9rem;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
}

.share .i_brand{
	display: block;
	z-index: 99;
	width: 2.2rem;
	height: 2.1rem;
	background: url(./../image/brand_zyyy.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	bottom: 0.2rem;
	left: 0.8rem;
}

.share .i_nutrilon{
	display: block;
	z-index: 99;
	width: 1.75rem;
	height: 2.7rem;
	background: url(./../image/nutrilon.png) no-repeat;
	background-size: 100% auto;
	position: absolute;
	bottom: 0.3rem;
	right: 0.8rem;
}

.updata-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; 
    display: none;
    background: rgba(0, 0, 0, 0.8);       
}
#showtip {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 6rem;
    height: 4rem;
    line-height: 4rem;
    color: #000;
    font-size: .45rem;
    background: #fff;
    margin: auto;
    border-radius: .3rem;
    text-align:center;
    font-family: 'HYHei';
}

.detail-warpper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	display: none;
    background: #154C1B;	
    font-size: 0;
}
.detail-warpper img {
	width: 100%;
	pointer-events:none;
}
.detail-warpper .gosignup {
	display: block;
    width: 3.3rem;
    height: 1.3rem;
    background: url(./../image/index/btnbmgo.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    bottom: 9.2rem;
    left: 3.4rem;
}
.logo-wrap {
	position: absolute;
    top: 0.9rem;
    right: 2.2rem;
    width: 2rem;
    height: 1rem;
}
.logo-wrap .yingbeier {
	width: 1.6rem;
	position: absolute;
	bottom: 0.4rem;
	left: 1rem;
}
.logo-wrap .zhongyi {
	width: 2.6rem;
	position: absolute;
	bottom: 0.6rem;
	left: 0.9rem;
}
.final .logo-wrap .yingbeier{
	bottom: 0.55rem;
}
.final .logo-wrap .zhongyi{
	bottom: 0.72rem;
}